/* Standard style sheet for courses -fp */
 /*Override default to more readable sans-serif font */
 /*Base color blue, base font sans-serif */
body {
	color: black; 
	font-size: 12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	line-height: 18px; 
}
h1{
	font-size: 21px; 
	font-weight: bold; 
	line-height: 30px; 
	/*margin: 0.67em 0; */
}

h2 {
	font-weight: bold; 
	margin: 1em 0; 
}

h3 {
	font-size: 14px; 
	font-weight: bold; 
	margin: 1em 0; 
}
table {
	padding: 0; 
}
/*
A:link { color: #af3526; }         
A:visited { color: #af3526; }      
A:hover { color: #CC9900; }        
A:active { color: #FF0000; }       */

/*A:link { color: Green;}    
A:visited { color: Red; }     
A:hover { color: Blue;}        
A:active { color: Yellow; }*/

a.sidebar-link{
	font-size: 14px;
	text-decoration: none;
}
a.sidebar-link:link{color: White;}
a.sidebar-link:visited{color: White;}
a.sidebar-link:hover{color: White;}
a.sidebar-link:active{color: White;}

UL { padding-top: 1ex; padding-bottom: 1ex; }
LI.wide { padding-top: 0.5ex; padding-bottom: 0.5ex; }
TH { vertical-align: top; }
TD { vertical-align: top; }

/*sidebar, left */

TD.sidebar { 
	background: rgb(28, 38, 54);/*#e8e6d8; */
	width: 180px; 
}  
TD.menu{
	padding-left: 20px;
	padding-top: 6px;
}


TD.main { 
	background-repeat: repeat; 
	background-attachment: scroll; 
	background-position: 0 0; 
	margin-top: 0px
}   
/* main body, right */
TD.lecture { padding-left: 1em; }
TD.planned { color: #9E9EE7; padding-left: 1em; }     /* planned lectures */
TD.recitation { background: #e8e6d8; padding-right: 6px; }  /*recitation lines */
DT { padding: 1ex 0ex; }           /* definition term */
 /*DTfirst-child { padding 0ex 0ex; }            /* first definition term */
 /*DT.first { padding 0ex 0ex; }                   /*first definition term */
B.here { font-weight: bold; color: black; }   /*current node, black */
PRE, TT, CODE { font-family: monospace; }  /*font-size large; */
                                    /*fixed width fonts */
.pad { padding-left: 12px; }
TD.recbody { padding-right: 6px; }
ul.whatnew { background-color: white; }
li.newest { padding: 6px; border-style: solid; border-width: 2px; background-color: #FACC2E; }
table.paddedtable td { padding: 2px 10px 2px 10px; }

.announcement {
  background-color: aliceblue;
  border-color: #bce8f1;
  margin-bottom: 20px;
  width: 80%
}

.announcement-body{
  margin-left: 25px;
  margin-bottom: 40px;
}

.newsfeedHeader {
  margin-bottom: 10px;
}
.newsfeedTitle {
  font-size: 14px;
  color: #3b5998;
  font-weight: bold;
  margin-bottom: 0px;  
}

.calendarCell {
  height: 180px;
  width: 200px;
  border: 1px solid black;
  vertical-align: top;
  padding: 10px;
  
}
.calendarWeekCell {
  max-width: 50px;
  border: 1px solid black;
  vertical-align: top;
  padding: 10px;
  text-align: center;
}
.calendarDate {
  font-size: 12px;
  font-weight: 900;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.classLinks {
  position: absolute;
  top: 70px;
  color: hsl(0, 0%, 60%);
}
.inOut {
  position: absolute;
  top: 120px;
  color: #3b5998;
  font-weight: bold;
}

.td-gen{
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	
}
